{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f9d7d4e2c82f25cb63268cfc149f892",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1818287\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1818287}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 215,
      },
      {
        "_id": "e9d1373895ed8fceb9193c5aa8240e7e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1818287"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1818287,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-09T09:31:11.068Z\",\"finished_at\":null,\"created_at\":\"2023-03-09T09:31:09.784Z\",\"updated_at\":\"2023-03-09T09:31:11.199Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2146514,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6516482,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-09T09:31:11.068Z\",\"finished_at\":null,\"created_at\":\"2023-03-09T09:31:10.824Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1818287/capabilities/2146514/scenarios/6516482\",\"updated_at\":\"2023-03-09T09:31:11.117Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 398,
      },
      {
        "_id": "e9d1373895ed8fceb9193c5aa8240e7e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1818287"
[...]
