{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f9d7d4e2c82f25cb63268cfc149f892",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1812961\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1812961}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 180,
      },
      {
        "_id": "0cc747904fdc76ce6ed1ee6516fbc916",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1812961"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "{\"id\":1812961,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-08T04:16:51.566Z\",\"updated_at\":\"2023-03-08T04:16:52.259Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2140057,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6494028,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-08T04:16:52.205Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1812961/capabilities/2140057/scenarios/6494028\",\"updated_at\":\"2023-03-08T04:16:52.306Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 383,
      },
      {
        "_id": "0cc747904fdc76ce6ed1ee6516fbc916",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1812961"
[...]
