{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f9d7d4e2c82f25cb63268cfc149f892",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1222373\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1222373}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 575,
      },
      {
        "_id": "744aad8b722219414ef5a42b62e1dbb8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1222373"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "{\"id\":1222373,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-09-27T22:45:36.181Z\",\"updated_at\":\"2022-09-27T22:45:37.532Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":1445935,\"capability\":{\"id\":346735,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"104.0\",\"device\":\"\",\"created_at\":\"2022-08-22T03:57:59.193Z\",\"updated_at\":\"2022-08-22T03:57:59.193Z\"},\"test_case_results\":[{\"id\":4282538,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-09-27T22:45:37.516Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1222373/capabilities/1445935/scenarios/4282538\",\"updated_at\":\"2022-09-27T22:45:37.555Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 478,
      },
      {
        "_id": "744aad8b722219414ef5a42b62e1dbb8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1222373"
[...]
