{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------104913477943071342780955",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"8DubWy\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 34857,
      },
      {
        "_id": "c83afd2ab223176faf71a0da35facae4",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"8DubWy\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"kAtO3k\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2023-03-10T08:17:37.778Z\",\"build\":{\"id\":\"8DubWy\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2023-03-10T08:17:36.684Z\",\"updated_at\":\"2023-03-10T08:17:36.883Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1063,
      },
      {
        "_id": "4d22fe0acbceaa37482f580c2d72f2fa",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/kAtO3k"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 547,
            "text": "{\"id\":\"kAtO3k\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-10T17:17:37.910+09:00\",\"updated_at\":\"2023-03-10T17:17:38.096+09:00\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T18:35:38.921+09:00\",\"updated_at\":\"2023-03-10T17:17:39.757+09:00\"},\"test_case_results\":[{\"id\":\"LpIyeM7\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"K8IDP6\",\"environment_variables\":[],\"build\":{\"id\":\"8DubWy\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 801,
      },
      {
        "_id": "4d22fe0acbceaa37482f580c2d72f2fa",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/kAtO3k"
        },
        "response": {
          "co[...]
