{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------232386791220126196172137",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"p7ulJ4\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 3795,
      },
      {
        "_id": "a93a998acbb61a3ae82857ebbe9d9348",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"p7ulJ4\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"d3tqnb\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2022-09-15T19:13:00.772Z\",\"build\":{\"id\":\"p7ulJ4\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-09-15T19:13:00.172Z\",\"updated_at\":\"2022-09-15T19:13:00.385Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 495,
      },
      {
        "_id": "5b73da2ddbe8351193ca52d3f933397f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/d3tqnb"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 573,
            "text": "{\"id\":\"d3tqnb\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-09-16T04:13:01.604+09:00\",\"finished_at\":null,\"created_at\":\"2022-09-16T04:13:00.805+09:00\",\"updated_at\":\"2022-09-16T04:13:01.570+09:00\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T18:35:38.921+09:00\",\"updated_at\":\"2022-09-16T04:13:00.772+09:00\"},\"test_case_results\":[{\"id\":\"KlIY5W\",\"status\":\"running\",\"duration\":null,\"test_case\":{\"id\":\"K8IDP6\",\"environment_variables\":[],\"build\":{\"id\":\"p7ulJ4\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
      {
        "_id": "5b73da2ddbe8351193ca52d3f933397f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/d3tqnb"
        },
        "response": {
          "co[...]
