{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------574106898957424620913679",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"PWuEn9\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 25957,
      },
      {
        "_id": "22c51d5f4a18cf9d9c945a8748a415b3",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"PWuEn9\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"5OtGoX\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2023-03-09T09:31:37.069Z\",\"build\":{\"id\":\"PWuEn9\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2023-03-09T09:31:35.824Z\",\"updated_at\":\"2023-03-09T09:31:36.105Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1115,
      },
      {
        "_id": "79f278eabd20f2c68fc152c0c5ccb85d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/5OtGoX"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 547,
            "text": "{\"id\":\"5OtGoX\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-09T18:31:37.152+09:00\",\"updated_at\":\"2023-03-09T18:31:37.325+09:00\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T18:35:38.921+09:00\",\"updated_at\":\"2023-03-09T18:31:37.069+09:00\"},\"test_case_results\":[{\"id\":\"Q9I3a1Z\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"K8IDP6\",\"environment_variables\":[],\"build\":{\"id\":\"PWuEn9\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 786,
      },
      {
        "_id": "79f278eabd20f2c68fc152c0c5ccb85d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/5OtGoX"
        },
        "response": {
          "co[...]
