{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------266211554085919713646989",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"mKuXKP\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 39442,
      },
      {
        "_id": "83bd31a0a3329da71f105c6503b27b95",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"mKuXKP\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/kYtlRR/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": "{\"id\":\"3Jt3lj\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T09:10:33.076Z\",\"updated_at\":\"2023-03-09T09:31:51.123Z\",\"build\":{\"id\":\"mKuXKP\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2023-03-09T09:31:50.179Z\",\"updated_at\":\"2023-03-09T09:31:50.453Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 707,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
