{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------505435988605358270464687",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"gquLbX\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2144,
      },
      {
        "_id": "00950b0c8331ea1107c6827b4fad9b3b",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"gquLbX\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/1EtZ0P/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 507,
            "text": "{\"id\":\"d3tEQW\",\"test_plan\":{\"id\":\"1EtZ0P\",\"name\":\"Autify CLI iOS Real Device\",\"created_at\":\"2024-10-16T02:48:10.891Z\",\"updated_at\":\"2024-10-16T03:02:15.859Z\",\"build\":{\"id\":\"gquLbX\",\"name\":\"playground-ios\",\"version\":\"1.1.0 2\",\"created_at\":\"2024-10-16T03:02:15.178Z\",\"updated_at\":\"2024-10-16T03:02:15.432Z\"},\"execute_environments\":[{\"id\":\"1gGFAQ\",\"name\":\"iPhone 13 iOS 16 (Real Device)\",\"device\":\"iPhone 13\",\"use_type\":\"real\",\"os\":\"iOS\",\"os_version\":\"16\",\"beta\":false,\"selectable_as_default_recorder\":true}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 887,
      },
      {
        "_id": "149b419528ebb3dabd1e61733e659ec6",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/d3tEQW"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 549,
            "text": "{\"id\":\"d3tEQW\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2024-10-16T12:02:16.290+09:00\",\"updated_at\":\"2024-10-16T12:02:16.401+09:00\",\"test_plan\":{\"id\":\"1EtZ0P\",\"name\":\"Autify CLI iOS Real Device\",\"created_at\":\"2024-10-16T11:48:10.891+09:00\",\"updated_at\":\"2024-10-16T12:02:15.859+09:00\"},\"test_case_results\":[{\"id\":\"XWI7gWr\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"B5IVr3\",\"environment_variables\":[],\"build\":{\"id\":\"gquLbX\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"16\",\"device\":\"iPhone 13\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 403,
      },
      {
        "_id": "149b419528ebb3dabd1e61733e659ec6",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/d3tEQW"
        },
        "response": {
          "conten[...]
