{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "no-useless-constructor": "off",
    "arrow-body-style": "off",
    "object-shorthand": "off",
    "prefer-destructuring": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "unicorn/prefer-top-level-await": "off",
    "unicorn/prefer-string-replace-all": "off",
    "unicorn/prefer-event-target": "off",
    "perfectionist/sort-objects": "off",
    "perfectionist/sort-imports": "off",
    "perfectionist/sort-union-types": "off",
    "perfectionist/sort-named-imports": "off",
    "perfectionist/sort-classes": "off",
    "perfectionist/sort-object-types": "off",
    "perfectionist/sort-intersection-types": "off",
    "perfectionist/sort-interfaces": "off",
    "n/no-process-exit": "off"
  }
}
