{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------480652620811958448141960",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"0nuO9K\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4633,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
