{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-57bf5796-6f9a-4bf2-9be1-4eaa5003d2d9\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"name\":\"autify-cli-57bf5796-6f9a-4bf2-9be1-4eaa5003d2d9\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"riywo\",\"created_at\":\"2022-11-10T02:50:49.528Z\",\"updated_at\":\"2022-11-10T02:50:49.528Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 847,
      },
      {
        "_id": "ea76f6d3328393ece3f9715a37bca596",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-57bf5796-6f9a-4bf2-9be1-4eaa5003d2d9\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1376169\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1376169}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 560,
      },
      {
        "_id": "963b659cfa0d3cb53c959068892a3de7",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1376169"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "{\"id\":1376169,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-11-10T02:50:51.414Z\",\"updated_at\":\"2022-11-10T02:50:52.276Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":1622686,\"capability\":{\"id\":429726,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"107.0\",\"device\":\"\",\"created_at\":\"2022-11-07T06:19:03.727Z\",\"updated_at\":\"2022-11-07T06:19:03.727Z\"},\"test_case_results\":[{\"id\":4864543,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-11-10T02:50:52.232Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1376169/capabilities/1622686/scenarios/4864543\",\"updated_at\":\"2022-11-10T02:50:52.309Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 466,
      },
      {
        "_id": "963b659cfa0d3cb53c959068892a3de7",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1376169"
[...]
