{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-f05a1388-6e3d-4f7b-9bcb-bf420d8d078a\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 222,
            "text": "{\"name\":\"autify-cli-f05a1388-6e3d-4f7b-9bcb-bf420d8d078a\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"nate-autify-live\",\"created_at\":\"2023-03-07T09:12:31.730Z\",\"updated_at\":\"2023-03-07T09:12:31.730Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 722,
      },
      {
        "_id": "0975473649bd178dca75bc581e20f320",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-f05a1388-6e3d-4f7b-9bcb-bf420d8d078a\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1809868\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1809868}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 175,
      },
      {
        "_id": "bd625b1d9a4bf52a6f88767875687a32",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1809868"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 910,
            "text": "{\"id\":1809868,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-07T09:12:32.531Z\",\"updated_at\":\"2023-03-07T09:12:33.365Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2136234,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6479899,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-07T09:12:33.626Z\",\"finished_at\":null,\"created_at\":\"2023-03-07T09:12:33.316Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1809868/capabilities/2136234/scenarios/6479899\",\"updated_at\":\"2023-03-07T09:12:33.640Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134,
      },
      {
        "_id": "bd625b1d9a4bf52a6f88767875687a32",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1809868"
[...]
