{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-4e5f836c-390b-4ca7-9974-a8c3171da087\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"name\":\"autify-cli-4e5f836c-390b-4ca7-9974-a8c3171da087\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"riywo\",\"created_at\":\"2022-11-29T18:29:42.878Z\",\"updated_at\":\"2022-11-29T18:29:42.878Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 772,
      },
      {
        "_id": "44533eac1ac3f07649db67e7a7baaf88",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-4e5f836c-390b-4ca7-9974-a8c3171da087\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1444853\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1444853}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 633,
      },
      {
        "_id": "f911d88a5bd1aa987cbde08e968897de",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1444853"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1444853,\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-11-29T18:29:46.369Z\",\"finished_at\":null,\"created_at\":\"2022-11-29T18:29:44.976Z\",\"updated_at\":\"2022-11-29T18:29:46.400Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":1701455,\"capability\":{\"id\":429726,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"107.0\",\"device\":\"\",\"created_at\":\"2022-11-07T06:19:03.727Z\",\"updated_at\":\"2022-11-07T06:19:03.727Z\"},\"test_case_results\":[{\"id\":5118599,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-11-29T18:29:46.369Z\",\"finished_at\":null,\"created_at\":\"2022-11-29T18:29:46.058Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1444853/capabilities/1701455/scenarios/5118599\",\"updated_at\":\"2022-11-29T18:29:46.516Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 523,
      },
      {
        "_id": "f911d88a5bd1aa987cbde08e968897de",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1444853"
[...]
