{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-576f4b9e-2bb5-4c65-8820-586d92b60c81\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"name\":\"autify-cli-576f4b9e-2bb5-4c65-8820-586d92b60c81\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"riywo\",\"created_at\":\"2022-09-27T22:46:49.720Z\",\"updated_at\":\"2022-09-27T22:46:49.720Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 757,
      },
      {
        "_id": "44c118897ef5fc83a597c7ad8721798a",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-576f4b9e-2bb5-4c65-8820-586d92b60c81\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1222374\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1222374}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 603,
      },
      {
        "_id": "579a811f5b7cf3683e26919978b9b027",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1222374"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1222374,\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-09-27T22:46:51.479Z\",\"finished_at\":null,\"created_at\":\"2022-09-27T22:46:50.376Z\",\"updated_at\":\"2022-09-27T22:46:51.511Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":1445936,\"capability\":{\"id\":346735,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"104.0\",\"device\":\"\",\"created_at\":\"2022-08-22T03:57:59.193Z\",\"updated_at\":\"2022-08-22T03:57:59.193Z\"},\"test_case_results\":[{\"id\":4282539,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-09-27T22:46:51.479Z\",\"finished_at\":null,\"created_at\":\"2022-09-27T22:46:51.202Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1222374/capabilities/1445936/scenarios/4282539\",\"updated_at\":\"2022-09-27T22:46:51.631Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 537,
      },
      {
        "_id": "579a811f5b7cf3683e26919978b9b027",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1222374"
[...]
