{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-239caa8d-45cb-4a66-bd70-c980c8b80c27\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 222,
            "text": "{\"name\":\"autify-cli-239caa8d-45cb-4a66-bd70-c980c8b80c27\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"nate-autify-live\",\"created_at\":\"2023-03-06T04:37:34.644Z\",\"updated_at\":\"2023-03-06T04:37:34.644Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 781,
      },
      {
        "_id": "201d80954896299ec006d4b9e496ac46",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-239caa8d-45cb-4a66-bd70-c980c8b80c27\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1804136\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1804136}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 213,
      },
      {
        "_id": "c29410a77efdccb4bec60f7b86a44461",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1804136"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1804136,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-06T04:37:36.269Z\",\"finished_at\":null,\"created_at\":\"2023-03-06T04:37:35.365Z\",\"updated_at\":\"2023-03-06T04:37:36.298Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2129445,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6456447,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-06T04:37:36.269Z\",\"finished_at\":null,\"created_at\":\"2023-03-06T04:37:35.917Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1804136/capabilities/2129445/scenarios/6456447\",\"updated_at\":\"2023-03-06T04:37:36.379Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 138,
      },
      {
        "_id": "c29410a77efdccb4bec60f7b86a44461",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1804136"
[...]
