{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-a484fe7a-50d0-4805-bd3f-5b489f17c546\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 222,
            "text": "{\"name\":\"autify-cli-a484fe7a-50d0-4805-bd3f-5b489f17c546\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"nate-autify-live\",\"created_at\":\"2023-03-09T09:31:10.327Z\",\"updated_at\":\"2023-03-09T09:31:10.327Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418,
      },
      {
        "_id": "b9ef09b88cc4fd76d5821962f41e786a",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-a484fe7a-50d0-4805-bd3f-5b489f17c546\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1818291\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1818291}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 391,
      },
      {
        "_id": "4d0690855a744f173c0920c96adfa26d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1818291"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1818291,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-09T09:31:12.369Z\",\"finished_at\":null,\"created_at\":\"2023-03-09T09:31:11.272Z\",\"updated_at\":\"2023-03-09T09:31:12.404Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2146516,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6516484,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-09T09:31:12.369Z\",\"finished_at\":null,\"created_at\":\"2023-03-09T09:31:12.041Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1818291/capabilities/2146516/scenarios/6516484\",\"updated_at\":\"2023-03-09T09:31:12.516Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 462,
      },
      {
        "_id": "4d0690855a744f173c0920c96adfa26d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1818291"
[...]
