{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-b6d9c73a-5fd6-4ae9-846b-8ff31e8c4d53\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 222,
            "text": "{\"name\":\"autify-cli-b6d9c73a-5fd6-4ae9-846b-8ff31e8c4d53\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"nate-autify-live\",\"created_at\":\"2023-03-06T03:38:28.038Z\",\"updated_at\":\"2023-03-06T03:38:28.038Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 415,
      },
      {
        "_id": "8a180c9de4282e55ad556fcb717580be",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-b6d9c73a-5fd6-4ae9-846b-8ff31e8c4d53\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1803920\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1803920}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178,
      },
      {
        "_id": "fe0f797f46c6474608e07c1a02f38757",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1803920"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "{\"id\":1803920,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-06T03:38:28.715Z\",\"updated_at\":\"2023-03-06T03:38:29.361Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2129197,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6455818,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-06T03:38:29.334Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1803920/capabilities/2129197/scenarios/6455818\",\"updated_at\":\"2023-03-06T03:38:29.389Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      },
      {
        "_id": "fe0f797f46c6474608e07c1a02f38757",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1803920"
 [...]
