{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-b0894445-5359-451b-a282-39bbf6570a40\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"name\":\"autify-cli-b0894445-5359-451b-a282-39bbf6570a40\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"riywo\",\"created_at\":\"2022-10-25T01:37:57.322Z\",\"updated_at\":\"2022-10-25T01:37:57.322Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 794,
      },
      {
        "_id": "5b74a80c288b494febbf12077a38f30d",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-b0894445-5359-451b-a282-39bbf6570a40\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1318114\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1318114}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 609,
      },
      {
        "_id": "c534285e3c96d876e94e835030a4f4e3",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1318114"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "{\"id\":1318114,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-10-25T01:37:59.268Z\",\"updated_at\":\"2022-10-25T01:38:00.407Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":1556158,\"capability\":{\"id\":402975,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"106.0\",\"device\":\"\",\"created_at\":\"2022-10-19T04:41:44.314Z\",\"updated_at\":\"2022-10-19T04:41:44.314Z\"},\"test_case_results\":[{\"id\":4647680,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-10-25T01:38:00.391Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1318114/capabilities/1556158/scenarios/4647680\",\"updated_at\":\"2022-10-25T01:38:00.442Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 508,
      },
      {
        "_id": "c534285e3c96d876e94e835030a4f4e3",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1318114"
[...]
