{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-25436887-57b5-4629-994f-7554b899dcad\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 222,
            "text": "{\"name\":\"autify-cli-25436887-57b5-4629-994f-7554b899dcad\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"nate-autify-live\",\"created_at\":\"2023-03-08T04:16:51.943Z\",\"updated_at\":\"2023-03-08T04:16:51.943Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 949,
      },
      {
        "_id": "be11d2b44975f5c040d7da75029b4280",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-25436887-57b5-4629-994f-7554b899dcad\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1812963\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1812963}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 411,
      },
      {
        "_id": "60061fe5e3793f8b30999b59399813a8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1812963"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "{\"id\":1812963,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-08T04:16:53.160Z\",\"updated_at\":\"2023-03-08T04:16:53.787Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2140059,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6494030,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-08T04:16:53.760Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1812963/capabilities/2140059/scenarios/6494030\",\"updated_at\":\"2023-03-08T04:16:53.814Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 368,
      },
      {
        "_id": "60061fe5e3793f8b30999b59399813a8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1812963"
[...]
