{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-96a7357b-44ad-4a50-8ab8-8688303302f4\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 222,
            "text": "{\"name\":\"autify-cli-96a7357b-44ad-4a50-8ab8-8688303302f4\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"nate-autify-live\",\"created_at\":\"2023-03-10T08:17:01.408Z\",\"updated_at\":\"2023-03-10T08:17:01.408Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 443,
      },
      {
        "_id": "3df13974ff125c1767110fde60509c68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-96a7357b-44ad-4a50-8ab8-8688303302f4\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1822040\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1822040}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154,
      },
      {
        "_id": "f0249bf4f98c0cf5ef28022b6d0e22e8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1822040"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1822040,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-10T08:17:03.497Z\",\"finished_at\":null,\"created_at\":\"2023-03-10T08:17:02.377Z\",\"updated_at\":\"2023-03-10T08:17:03.538Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2151013,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6531515,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-10T08:17:03.497Z\",\"finished_at\":null,\"created_at\":\"2023-03-10T08:17:02.954Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1822040/capabilities/2151013/scenarios/6531515\",\"updated_at\":\"2023-03-10T08:17:03.590Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 481,
      },
      {
        "_id": "f0249bf4f98c0cf5ef28022b6d0e22e8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1822040"
[...]
