{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-acab582f-b894-4199-9a57-36a163242914\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"name\":\"autify-cli-acab582f-b894-4199-9a57-36a163242914\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"riywo\",\"created_at\":\"2022-10-01T01:29:06.123Z\",\"updated_at\":\"2022-10-01T01:29:06.123Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 700,
      },
      {
        "_id": "4459c6340fefba0752b87eea64cc34d8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-acab582f-b894-4199-9a57-36a163242914\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1235243\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1235243}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 644,
      },
      {
        "_id": "4743bba605309490ec11ccccf536dc96",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1235243"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1235243,\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-10-01T01:29:09.276Z\",\"finished_at\":null,\"created_at\":\"2022-10-01T01:29:08.139Z\",\"updated_at\":\"2022-10-01T01:29:09.305Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":1460612,\"capability\":{\"id\":346735,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"104.0\",\"device\":\"\",\"created_at\":\"2022-08-22T03:57:59.193Z\",\"updated_at\":\"2022-08-22T03:57:59.193Z\"},\"test_case_results\":[{\"id\":4332193,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-10-01T01:29:09.276Z\",\"finished_at\":null,\"created_at\":\"2022-10-01T01:29:08.995Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1235243/capabilities/1460612/scenarios/4332193\",\"updated_at\":\"2022-10-01T01:29:09.370Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 496,
      },
      {
        "_id": "4743bba605309490ec11ccccf536dc96",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1235243"
[...]
