{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------477124694777938044000412",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"q3u3OW\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2464,
      },
      {
        "_id": "e1df89a48c8c9061022d12b52896ad2e",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"q3u3OW\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/kYtlRR/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": "{\"id\":\"b5tRlW\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T09:10:33.076Z\",\"updated_at\":\"2023-03-31T07:43:15.665Z\",\"build\":{\"id\":\"q3u3OW\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2023-03-31T07:43:14.906Z\",\"updated_at\":\"2023-03-31T07:43:15.140Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 537,
      },
      {
        "_id": "956506abaadb7fe6dda8927377dced98",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/b5tRlW"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 545,
            "text": "{\"id\":\"b5tRlW\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-31T16:43:15.679+09:00\",\"updated_at\":\"2023-03-31T16:43:16.021+09:00\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T18:10:33.076+09:00\",\"updated_at\":\"2023-03-31T16:43:15.665+09:00\"},\"test_case_results\":[{\"id\":\"RRIz7YL\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"xjIKdP\",\"environment_variables\":[],\"build\":{\"id\":\"q3u3OW\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 475,
      },
      {
        "_id": "956506abaadb7fe6dda8927377dced98",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/b5tRlW"
        },
        "response": {
          "[...]
