{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------996060826746616112750360",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"q3u3PO\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2876,
      },
      {
        "_id": "1b3a047564536a41f088f848a11344a3",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"q3u3PO\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/kYtlRR/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": "{\"id\":\"Gqt3r1\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T09:10:33.076Z\",\"updated_at\":\"2023-04-06T06:28:35.872Z\",\"build\":{\"id\":\"q3u3PO\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2023-04-06T06:28:35.044Z\",\"updated_at\":\"2023-04-06T06:28:35.342Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 537,
      },
      {
        "_id": "00bbc4c02e66deb516a06f0570a577a2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/Gqt3r1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 545,
            "text": "{\"id\":\"Gqt3r1\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-04-06T15:28:35.883+09:00\",\"updated_at\":\"2023-04-06T15:28:36.123+09:00\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T18:10:33.076+09:00\",\"updated_at\":\"2023-04-06T15:28:35.872+09:00\"},\"test_case_results\":[{\"id\":\"RRIz9V9\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"xjIKdP\",\"environment_variables\":[],\"build\":{\"id\":\"q3u3PO\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 507,
      },
      {
        "_id": "00bbc4c02e66deb516a06f0570a577a2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/Gqt3r1"
        },
        "response": {
          "[...]
