{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------578787592461477291544283",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"XYuLXo\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 37021,
      },
      {
        "_id": "04d234695624da31f3f7b168997ba589",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"XYuLXo\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"rWtvZX\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2023-03-10T08:17:39.757Z\",\"build\":{\"id\":\"XYuLXo\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2023-03-10T08:17:38.675Z\",\"updated_at\":\"2023-03-10T08:17:38.905Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1381,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
