{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c90f4943749242a1114af0032f22f880",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"d1ulrD\",\"device_ids\":[\"R5CY23ND1KE\"]}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 587,
            "text": "{\"id\":\"3JtzREP\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2023-04-06T06:28:40.756Z\",\"build\":{\"id\":\"d1ulrD\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-09-15T09:34:57.606Z\",\"updated_at\":\"2023-09-19T08:11:30.933Z\"},\"execute_environments\":[{\"id\":\"KXHGgw\",\"name\":\"SM-S721Q android 15 (Local)\",\"device\":\"r12sjpnx\",\"use_type\":\"local_real\",\"os\":\"android\",\"os_version\":\"15\",\"beta\":false,\"selectable_as_default_recorder\":false,\"device_identifier\":\"R5CY23ND1KE\",\"device_name\":\"SM-S721Q\",\"visibility\":\"personal\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1521,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
