{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fb22cd059f63867f3d07e14ec6e75c17",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"d1ulrD\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"QBtLoD\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2022-09-15T09:35:50.249Z\",\"build\":{\"id\":\"d1ulrD\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-09-15T09:34:57.606Z\",\"updated_at\":\"2022-09-15T09:34:57.894Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 267,
      },
      {
        "_id": "a2927bf98262225847f33095f5cb13a0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/QBtLoD"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 546,
            "text": "{\"id\":\"QBtLoD\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-09-16T04:08:00.218+09:00\",\"updated_at\":\"2022-09-16T04:08:00.429+09:00\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T18:35:38.921+09:00\",\"updated_at\":\"2022-09-15T18:35:50.249+09:00\"},\"test_case_results\":[{\"id\":\"1nIElL\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"K8IDP6\",\"environment_variables\":[],\"build\":{\"id\":\"d1ulrD\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 296,
      },
      {
        "_id": "a2927bf98262225847f33095f5cb13a0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/QBtLoD"
        },
        "response": {
          "co[...]
