{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-697bb76e-7b80-431a-9d86-3b9a31179d96\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 210,
            "text": "{\"name\":\"autify-cli-697bb76e-7b80-431a-9d86-3b9a31179d96\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"tai2\",\"created_at\":\"2025-03-11T00:23:39.798Z\",\"updated_at\":\"2025-03-11T00:23:39.798Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 484,
      },
      {
        "_id": "21f6d04db0c8a965c6d07d48c625bc91",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-697bb76e-7b80-431a-9d86-3b9a31179d96\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"4390457\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":4390457}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 99,
      },
      {
        "_id": "3387d8c0c61f7e8ffd665572e7b70a43",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4390457"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 346,
            "text": "{\"id\":4390457,\"status\":\"queuing\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2025-03-11T00:23:40.977Z\",\"updated_at\":\"2025-03-11T00:23:40.984Z\",\"review_needed\":false,\"test_plan_capability_results\":[],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 92,
      },
      {
        "_id": "3387d8c0c61f7e8ffd665572e7b70a43",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4390457"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1031,
            "text": "{\"id\":4390457,\"status\":\"running\",\"duration\":null,\"started_at\":\"2025-03-11T00:23:42.914Z\",\"finished_at\":null,\"created_at\":\"2025-03-11T00:23:40.977Z\",\"updated_at\":\"2025-03-11T00:23:42.192Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":5094537,\"capability\":{\"timezone\":\"Etc/UTC\",\"id\":1186223,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"132.0\",\"device\":\"\",\"created_at\":\"2025-01-27T05:39:51.838Z\",\"updated_at\":\"2025-01-27T05:40:39.742Z\"},\"test_case_results\":[{\"id\":16722460,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2025-03-11T00:23:42.914Z\",\"finished_at\":null,\"created_at\":\"2025-03-11T00:23:42.141Z\",\"project_url\":\"https://app.autify.com/projects/743/results/4390457/capabilities/5094537/scenarios/16722460\",\"updated_at\":\"2025-03-11T00:23:42.927Z\",\"number_of_credits_consumed\":0,\"review_needed\":0,\"import_variables\":[],\"export_variables\":[]}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      },
      {
        "_id": "3387d8c0c61f7e8ffd665572e7b70a43",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/7[...]
