{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-c09bfd4a-0f93-4814-b250-0e0d0c3ae576\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 210,
            "text": "{\"name\":\"autify-cli-c09bfd4a-0f93-4814-b250-0e0d0c3ae576\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"tai2\",\"created_at\":\"2025-03-10T06:16:13.275Z\",\"updated_at\":\"2025-03-10T06:16:13.275Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 886,
      },
      {
        "_id": "2c6f52106763a0fc98df719d16df9379",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-c09bfd4a-0f93-4814-b250-0e0d0c3ae576\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"4387538\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":4387538}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 103,
      },
      {
        "_id": "870521d14281b5fdcf99af5463e3de30",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4387538"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 346,
            "text": "{\"id\":4387538,\"status\":\"queuing\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2025-03-10T06:16:14.186Z\",\"updated_at\":\"2025-03-10T06:16:14.195Z\",\"review_needed\":false,\"test_plan_capability_results\":[],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      },
      {
        "_id": "870521d14281b5fdcf99af5463e3de30",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4387538"
 [...]
