{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-44b0aaeb-d84c-4588-9882-736988a02fc2\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 212,
            "text": "{\"name\":\"autify-cli-44b0aaeb-d84c-4588-9882-736988a02fc2\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"mtsmfm\",\"created_at\":\"2023-03-31T07:43:11.578Z\",\"updated_at\":\"2023-03-31T07:43:11.578Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 400,
      },
      {
        "_id": "98b7babf17bd15d1f5830d5e5005120f",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-44b0aaeb-d84c-4588-9882-736988a02fc2\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1899676\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1899676}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 93,
      },
      {
        "_id": "11a447859fe3fcb711ae9a41df5a034c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1899676"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1899676,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-31T07:43:12.887Z\",\"finished_at\":null,\"created_at\":\"2023-03-31T07:43:12.072Z\",\"updated_at\":\"2023-03-31T07:43:12.911Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2242372,\"capability\":{\"id\":561030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":\"\",\"created_at\":\"2023-03-02T05:18:15.248Z\",\"updated_at\":\"2023-03-02T05:18:15.248Z\"},\"test_case_results\":[{\"id\":6833963,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-31T07:43:12.887Z\",\"finished_at\":null,\"created_at\":\"2023-03-31T07:43:12.674Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1899676/capabilities/2242372/scenarios/6833963\",\"updated_at\":\"2023-03-31T07:43:13.027Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 80,
      },
      {
        "_id": "11a447859fe3fcb711ae9a41df5a034c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1899676"
 [...]
