{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-742c89c3-7673-4ceb-b485-f28b7db5a5fb\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 210,
            "text": "{\"name\":\"autify-cli-742c89c3-7673-4ceb-b485-f28b7db5a5fb\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"tai2\",\"created_at\":\"2025-06-25T02:37:41.211Z\",\"updated_at\":\"2025-06-25T02:37:41.211Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 364,
      },
      {
        "_id": "bd4784d83a5bfdb2cf468066cfbf5e95",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-742c89c3-7673-4ceb-b485-f28b7db5a5fb\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"4758670\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":4758670}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 578,
      },
      {
        "_id": "038842c25b6b11e9c4df082b28051ed4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4758670"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 346,
            "text": "{\"id\":4758670,\"status\":\"queuing\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2025-06-25T02:37:42.143Z\",\"updated_at\":\"2025-06-25T02:37:42.245Z\",\"review_needed\":false,\"test_plan_capability_results\":[],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 69,
      },
      {
        "_id": "038842c25b6b11e9c4df082b28051ed4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4758670"
 [...]
