{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-a8a16fce-6dba-4327-9b2b-0757b9b9a6bd\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 210,
            "text": "{\"name\":\"autify-cli-a8a16fce-6dba-4327-9b2b-0757b9b9a6bd\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"tai2\",\"created_at\":\"2025-03-10T07:17:46.089Z\",\"updated_at\":\"2025-03-10T07:17:46.089Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 584,
      },
      {
        "_id": "b2088f95414e1c1bde61eedfa4c8cdd6",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-a8a16fce-6dba-4327-9b2b-0757b9b9a6bd\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"4387790\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":4387790}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 113,
      },
      {
        "_id": "45ba11eb43d68d2fda2001793b550c80",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4387790"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 987,
            "text": "{\"id\":4387790,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2025-03-10T07:17:47.011Z\",\"updated_at\":\"2025-03-10T07:17:48.099Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":5091490,\"capability\":{\"timezone\":\"Etc/UTC\",\"id\":1186223,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"132.0\",\"device\":\"\",\"created_at\":\"2025-01-27T05:39:51.838Z\",\"updated_at\":\"2025-01-27T05:40:39.742Z\"},\"test_case_results\":[{\"id\":16711304,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2025-03-10T07:17:48.061Z\",\"project_url\":\"https://app.autify.com/projects/743/results/4387790/capabilities/5091490/scenarios/16711304\",\"updated_at\":\"2025-03-10T07:17:48.129Z\",\"number_of_credits_consumed\":0,\"review_needed\":0,\"import_variables\":[],\"export_variables\":[]}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      },
      {
        "_id": "45ba11eb43d68d2fda2001793b550c80",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/4387790"
[...]
