{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-99110442-29b7-4927-8c88-e10862d31d02\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 212,
            "text": "{\"name\":\"autify-cli-99110442-29b7-4927-8c88-e10862d31d02\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"mtsmfm\",\"created_at\":\"2023-04-06T06:28:31.573Z\",\"updated_at\":\"2023-04-06T06:28:31.573Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497,
      },
      {
        "_id": "64bbba4920c4ac01ea1d0bebaa26dff2",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"autify_connect\":{\"name\":\"autify-cli-99110442-29b7-4927-8c88-e10862d31d02\"}}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1920727\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1920727}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      },
      {
        "_id": "74e90e468e3984d96f4cd7619079b963",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1920727"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 888,
            "text": "{\"id\":1920727,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-04-06T06:28:32.302Z\",\"updated_at\":\"2023-04-06T06:28:33.308Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2267354,\"capability\":{\"id\":603030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"111.0\",\"device\":\"\",\"created_at\":\"2023-04-04T04:14:54.232Z\",\"updated_at\":\"2023-04-04T04:14:54.232Z\"},\"test_case_results\":[{\"id\":6915076,\"test_case_id\":91437,\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-04-06T06:28:33.291Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1920727/capabilities/2267354/scenarios/6915076\",\"updated_at\":\"2023-04-06T06:28:33.325Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 102,
      },
      {
        "_id": "74e90e468e3984d96f4cd7619079b963",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1920727"
[...]
