{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------547429093486133439528720",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"xwuZo1\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 7146,
      },
      {
        "_id": "bd6f84fac125f984d708ec90fcddf798",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"xwuZo1\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DPjteo/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 383,
            "text": "{\"id\":\"d3tqYR\",\"test_plan\":{\"id\":\"DPjteo\",\"name\":\"Autify CLI test (iOS)\",\"created_at\":\"2022-08-10T00:21:06.130Z\",\"updated_at\":\"2022-08-23T22:26:28.669Z\",\"build\":{\"id\":\"xwuZo1\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2022-08-23T22:26:28.120Z\",\"updated_at\":\"2022-08-23T22:26:28.357Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 11 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 251,
      },
      {
        "_id": "4a8af492f10123dc17ba50fe314e539d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/d3tqYR"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 576,
            "text": "{\"id\":\"d3tqYR\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-08-24T07:26:29.066+09:00\",\"finished_at\":null,\"created_at\":\"2022-08-24T07:26:28.690+09:00\",\"updated_at\":\"2022-08-24T07:26:29.082+09:00\",\"test_plan\":{\"id\":\"DPjteo\",\"name\":\"Autify CLI test (iOS)\",\"created_at\":\"2022-08-10T09:21:06.130+09:00\",\"updated_at\":\"2022-08-24T07:26:29.459+09:00\"},\"test_case_results\":[{\"id\":\"yNIxvz\",\"status\":\"running\",\"duration\":null,\"test_case\":{\"id\":\"97IkaQ\",\"environment_variables\":[],\"build\":{\"id\":\"xwuZo1\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 11 Pro\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 339,
      },
      {
        "_id": "4a8af492f10123dc17ba50fe314e539d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/d3tqYR"
        },
        "response": {
          "[...]
