{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------830702227919967663925940",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"LjujpB\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4177,
      },
      {
        "_id": "f60d740209a8e600c271fd188f44c705",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"LjujpB\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DPjteo/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 383,
            "text": "{\"id\":\"D7tjQk\",\"test_plan\":{\"id\":\"DPjteo\",\"name\":\"Autify CLI test (iOS)\",\"created_at\":\"2022-08-10T00:21:06.130Z\",\"updated_at\":\"2022-08-23T21:18:13.620Z\",\"build\":{\"id\":\"LjujpB\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2022-08-23T21:18:13.133Z\",\"updated_at\":\"2022-08-23T21:18:13.332Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 11 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 233,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
