{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------364356036709742119046915",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"neub06\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 7450,
      },
      {
        "_id": "ebdacf5afc1a913fdc840420886fb4b8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"neub06\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DPjteo/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 383,
            "text": "{\"id\":\"VPtWpO\",\"test_plan\":{\"id\":\"DPjteo\",\"name\":\"Autify CLI test (iOS)\",\"created_at\":\"2022-08-10T00:21:06.130Z\",\"updated_at\":\"2022-08-23T22:26:29.459Z\",\"build\":{\"id\":\"neub06\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2022-08-23T22:26:28.910Z\",\"updated_at\":\"2022-08-23T22:26:29.164Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 11 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 267,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
