{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------491698004163389639972269",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"YxukWO\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 3996,
      },
      {
        "_id": "700522acdbc67f3f2f025a22daad61de",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"YxukWO\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DEWt9g/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 382,
            "text": "{\"id\":\"9xtQ6x\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T01:27:31.631Z\",\"updated_at\":\"2022-08-23T22:26:20.499Z\",\"build\":{\"id\":\"YxukWO\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-08-23T22:26:19.953Z\",\"updated_at\":\"2022-08-23T22:26:20.182Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 229,
      },
      {
        "_id": "96d3ee15009e90ba478eaf73640900e4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/9xtQ6x"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 578,
            "text": "{\"id\":\"9xtQ6x\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-08-24T07:26:20.701+09:00\",\"finished_at\":null,\"created_at\":\"2022-08-24T07:26:20.512+09:00\",\"updated_at\":\"2022-08-24T07:26:20.644+09:00\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T10:27:31.631+09:00\",\"updated_at\":\"2022-08-24T07:26:20.499+09:00\"},\"test_case_results\":[{\"id\":\"YaIPdV\",\"status\":\"running\",\"duration\":null,\"test_case\":{\"id\":\"xjIKxK\",\"environment_variables\":[],\"build\":{\"id\":\"YxukWO\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      },
      {
        "_id": "96d3ee15009e90ba478eaf73640900e4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/9xtQ6x"
        },
        "response": {
          "co[...]
