{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------455987669891997796576722",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"VZukgX\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4365,
      },
      {
        "_id": "e1d3c40a02d8655c441b2cb4edba9224",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"VZukgX\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DPjteo/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 396,
            "text": "{\"id\":\"vbtgMV\",\"test_plan\":{\"id\":\"DPjteo\",\"name\":\"Autify CLI test (iOS)\",\"created_at\":\"2022-08-10T00:21:06.130Z\",\"updated_at\":\"2022-08-20T05:33:27.459Z\",\"build\":{\"id\":\"VZukgX\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2022-08-20T05:33:26.743Z\",\"updated_at\":\"2022-08-20T05:33:26.957Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"15.2\",\"device\":\"iPhone SE (2nd generation)\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 553,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
