{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------216839024778138985336046",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"BXu06G\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4659,
      },
      {
        "_id": "75d50ad851de8da8f369156ef810ff6f",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"BXu06G\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DPjteo/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 396,
            "text": "{\"id\":\"5OtDG6\",\"test_plan\":{\"id\":\"DPjteo\",\"name\":\"Autify CLI test (iOS)\",\"created_at\":\"2022-08-10T00:21:06.130Z\",\"updated_at\":\"2022-08-19T18:12:33.466Z\",\"build\":{\"id\":\"BXu06G\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2022-08-19T18:12:32.825Z\",\"updated_at\":\"2022-08-19T18:12:33.119Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"15.2\",\"device\":\"iPhone SE (2nd generation)\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 219,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
