{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------606153876247666724103823",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"EoujYL\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4030,
      },
      {
        "_id": "b778b830ff85bee68aa75df5bf15ef21",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"EoujYL\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/kYtlRR/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": "{\"id\":\"9xtQ0m\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T09:10:33.076Z\",\"updated_at\":\"2022-09-15T19:11:21.797Z\",\"build\":{\"id\":\"EoujYL\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2022-09-15T19:11:21.344Z\",\"updated_at\":\"2022-09-15T19:11:21.562Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 245,
      },
      {
        "_id": "b6bbcd5a96b143288b1f3eb95b77a9d2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/9xtQ0m"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 571,
            "text": "{\"id\":\"9xtQ0m\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-09-16T04:11:22.197+09:00\",\"finished_at\":null,\"created_at\":\"2022-09-16T04:11:21.811+09:00\",\"updated_at\":\"2022-09-16T04:11:22.215+09:00\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T18:10:33.076+09:00\",\"updated_at\":\"2022-09-16T04:11:21.797+09:00\"},\"test_case_results\":[{\"id\":\"EKIa7b\",\"status\":\"running\",\"duration\":null,\"test_case\":{\"id\":\"xjIKdP\",\"environment_variables\":[],\"build\":{\"id\":\"EoujYL\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 217,
      },
      {
        "_id": "b6bbcd5a96b143288b1f3eb95b77a9d2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/9xtQ0m"
        },
        "response": {
          "[...]
