{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------914287222501084057862519",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"VZu42D\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 40741,
      },
      {
        "_id": "f92e64fd5febc7b19e046151870e0224",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"VZu42D\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/kYtlRR/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": "{\"id\":\"2ytGzb\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T09:10:33.076Z\",\"updated_at\":\"2023-03-09T09:31:52.527Z\",\"build\":{\"id\":\"VZu42D\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2023-03-09T09:31:51.670Z\",\"updated_at\":\"2023-03-09T09:31:51.891Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 656,
      },
      {
        "_id": "fdbcc337199b9d8701521cf83f7f559d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/2ytGzb"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 545,
            "text": "{\"id\":\"2ytGzb\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-09T18:31:52.542+09:00\",\"updated_at\":\"2023-03-09T18:31:52.780+09:00\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T18:10:33.076+09:00\",\"updated_at\":\"2023-03-09T18:31:52.527+09:00\"},\"test_case_results\":[{\"id\":\"oKIe1Md\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"xjIKdP\",\"environment_variables\":[],\"build\":{\"id\":\"VZu42D\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 618,
      },
      {
        "_id": "fdbcc337199b9d8701521cf83f7f559d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/2ytGzb"
        },
        "response": {
          "[...]
