{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------626742442886324323163038",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"90u6QG\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 41451,
      },
      {
        "_id": "667bab47eb45f41afd87784742314875",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"90u6QG\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/kYtlRR/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": "{\"id\":\"b5tREo\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T09:10:33.076Z\",\"updated_at\":\"2023-03-08T04:17:34.519Z\",\"build\":{\"id\":\"90u6QG\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2023-03-08T04:17:33.604Z\",\"updated_at\":\"2023-03-08T04:17:33.893Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 649,
      },
      {
        "_id": "cbf8625372884295dae4e386986bf912",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/b5tREo"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 545,
            "text": "{\"id\":\"b5tREo\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-03-08T13:17:34.552+09:00\",\"updated_at\":\"2023-03-08T13:17:34.809+09:00\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T18:10:33.076+09:00\",\"updated_at\":\"2023-03-08T13:17:34.519+09:00\"},\"test_case_results\":[{\"id\":\"ONIEw35\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"xjIKdP\",\"environment_variables\":[],\"build\":{\"id\":\"90u6QG\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 551,
      },
      {
        "_id": "cbf8625372884295dae4e386986bf912",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/b5tREo"
        },
        "response": {
          "[...]
