{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------430869796554230081228147",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"K4uP0x\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 38609,
      },
      {
        "_id": "a407ddd3da319518c08db2327fe7a452",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"K4uP0x\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/kYtlRR/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 378,
            "text": "{\"id\":\"zwtBWw\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T09:10:33.076Z\",\"updated_at\":\"2023-03-10T08:17:42.092Z\",\"build\":{\"id\":\"K4uP0x\",\"name\":\"playground-ios\",\"version\":\"1.0 2\",\"created_at\":\"2023-03-10T08:17:41.156Z\",\"updated_at\":\"2023-03-10T08:17:41.400Z\"},\"execute_environments\":[{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 730,
      },
      {
        "_id": "caba2581595c65e114d09bc796a64682",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/zwtBWw"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 572,
            "text": "{\"id\":\"zwtBWw\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-03-10T17:17:42.805+09:00\",\"finished_at\":null,\"created_at\":\"2023-03-10T17:17:42.121+09:00\",\"updated_at\":\"2023-03-10T17:17:42.839+09:00\",\"test_plan\":{\"id\":\"kYtlRR\",\"name\":\"Autify CLI (iOS)\",\"created_at\":\"2022-09-15T18:10:33.076+09:00\",\"updated_at\":\"2023-03-10T17:17:43.262+09:00\"},\"test_case_results\":[{\"id\":\"yNIyXWd\",\"status\":\"running\",\"duration\":null,\"test_case\":{\"id\":\"xjIKdP\",\"environment_variables\":[],\"build\":{\"id\":\"K4uP0x\"},\"capability\":{\"os\":\"iOS\",\"os_version\":\"14.4\",\"device\":\"iPhone 12 Pro\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 585,
      },
      {
        "_id": "caba2581595c65e114d09bc796a64682",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/zwtBWw"
        },
        "response": {
          "[...]
