{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e117304952f9e08ed8a41e0c91579ed4",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"8DuzpG\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DEWt9g/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 382,
            "text": "{\"id\":\"jztEO3\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T01:27:31.631Z\",\"updated_at\":\"2022-08-20T05:31:01.085Z\",\"build\":{\"id\":\"8DuzpG\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-08-19T13:15:20.183Z\",\"updated_at\":\"2022-08-19T13:19:35.357Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 390,
      },
      {
        "_id": "839ac92c69565c0d56fab31752be111e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/jztEO3"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 578,
            "text": "{\"id\":\"jztEO3\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-08-20T14:33:10.808+09:00\",\"finished_at\":null,\"created_at\":\"2022-08-20T14:33:10.589+09:00\",\"updated_at\":\"2022-08-20T14:33:10.758+09:00\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T10:27:31.631+09:00\",\"updated_at\":\"2022-08-20T14:31:01.085+09:00\"},\"test_case_results\":[{\"id\":\"KlIOp3\",\"status\":\"running\",\"duration\":null,\"test_case\":{\"id\":\"xjIKxK\",\"environment_variables\":[],\"build\":{\"id\":\"8DuzpG\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230,
      },
      {
        "_id": "839ac92c69565c0d56fab31752be111e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/jztEO3"
        },
        "response": {
          "co[...]
