{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e117304952f9e08ed8a41e0c91579ed4",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"8DuzpG\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DEWt9g/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 382,
            "text": "{\"id\":\"X1tp12\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T01:27:31.631Z\",\"updated_at\":\"2022-08-19T17:53:27.455Z\",\"build\":{\"id\":\"8DuzpG\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-08-19T13:15:20.183Z\",\"updated_at\":\"2022-08-19T13:19:35.357Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 419,
      },
      {
        "_id": "de5b9ffb991b9533ebaae2877b6ba972",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/X1tp12"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 551,
            "text": "{\"id\":\"X1tp12\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2022-08-20T03:12:00.124+09:00\",\"updated_at\":\"2022-08-20T03:12:00.300+09:00\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T10:27:31.631+09:00\",\"updated_at\":\"2022-08-20T02:53:27.455+09:00\"},\"test_case_results\":[{\"id\":\"rbIAR3\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"xjIKxK\",\"environment_variables\":[],\"build\":{\"id\":\"8DuzpG\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 305,
      },
      {
        "_id": "de5b9ffb991b9533ebaae2877b6ba972",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/X1tp12"
        },
        "response": {
          "co[...]
