{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "73a4b3faba67051f9c497fbd51a01ce4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/capabilities"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 12301,
            "text": "[{\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"104.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Chrome\",\"browser_version\":\"104.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge\",\"browser_version\":\"103.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge Legacy\",\"browser_version\":\"18.0\",\"device\":null,\"device_type\":null,\"unsupported\":true},{\"os\":\"Windows\",\"os_ve[...]
