{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f9d7d4e2c82f25cb63268cfc149f892",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1920728\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1920728}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 183,
      },
      {
        "_id": "2ec69f9b584b2fe07359f4a1e5931885",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1920728"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 346,
            "text": "{\"id\":1920728,\"status\":\"queuing\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-04-06T06:28:42.137Z\",\"updated_at\":\"2023-04-06T06:28:42.153Z\",\"review_needed\":false,\"test_plan_capability_results\":[],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      },
      {
        "_id": "2ec69f9b584b2fe07359f4a1e5931885",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/results/1920728"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 932,
            "text": "{\"id\":1920728,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-04-06T06:28:43.635Z\",\"finished_at\":null,\"created_at\":\"2023-04-06T06:28:42.137Z\",\"updated_at\":\"2023-04-06T06:28:43.673Z\",\"review_needed\":false,\"test_plan_capability_results\":[{\"id\":2267356,\"capability\":{\"id\":603030,\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"111.0\",\"device\":\"\",\"created_at\":\"2023-04-04T04:14:54.232Z\",\"updated_at\":\"2023-04-04T04:14:54.232Z\"},\"test_case_results\":[{\"id\":6915078,\"test_case_id\":91437,\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-04-06T06:28:43.635Z\",\"finished_at\":null,\"created_at\":\"2023-04-06T06:28:43.312Z\",\"project_url\":\"https://app.autify.com/projects/743/results/1920728/capabilities/2267356/scenarios/6915078\",\"updated_at\":\"2023-04-06T06:28:43.988Z\",\"review_needed\":0}]}],\"test_plan\":{\"id\":169408,\"name\":\"cli test\",\"created_at\":\"2022-05-16T21:16:28.612Z\",\"updated_at\":\"2022-05-16T21:16:28.612Z\"}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 85,
      },
      {
        "_id": "2ec69f9b584b2fe07359f4a1e5931885",
    [...]
