{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------602276861513516079035279",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"1OuQPn\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2376,
      },
      {
        "_id": "d96b857d6f321454deb784a25364f492",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"1OuQPn\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"vbt1Wv\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2023-04-06T06:28:33.839Z\",\"build\":{\"id\":\"1OuQPn\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2023-04-06T06:28:33.096Z\",\"updated_at\":\"2023-04-06T06:28:33.322Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 529,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
