{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-7a864685-ec4b-48cd-b9cf-2d39c35ae863\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 211,
            "text": "{\"name\":\"autify-cli-7a864685-ec4b-48cd-b9cf-2d39c35ae863\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"riywo\",\"created_at\":\"2022-09-12T20:40:39.109Z\",\"updated_at\":\"2022-09-12T20:40:39.109Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 795,
      },
      {
        "_id": "73a4b3faba67051f9c497fbd51a01ce4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/capabilities"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 12105,
            "text": "[{\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"104.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Chrome\",\"browser_version\":\"104.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge\",\"browser_version\":\"104.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge Legacy\",\"browser_version\":\"18.0\",\"device\":null,\"device_type\":null,\"unsupported\":true},{\"os\":\"Windows\",\"os_ve[...]
