{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-3376a76f-77d5-4994-ae0c-bb0709e1998c\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 222,
            "text": "{\"name\":\"autify-cli-3376a76f-77d5-4994-ae0c-bb0709e1998c\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"nate-autify-live\",\"created_at\":\"2023-03-06T04:37:34.541Z\",\"updated_at\":\"2023-03-06T04:37:34.541Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 674,
      },
      {
        "_id": "73a4b3faba67051f9c497fbd51a01ce4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/capabilities"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 14812,
            "text": "[{\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Chrome\",\"browser_version\":\"110.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge\",\"browser_version\":\"110.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge Legacy\",\"browser_version\":\"18.0\",\"device\":null,\"device_type\":null,\"unsupported\":true},{\"os\":\"Windows\",\"os_ve[...]
