{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "efe89725908b03a7d2360fa34002bd68",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------852731756635951226246978",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"6EuRDm\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2203,
      },
      {
        "_id": "b68ab9cbcb1c6e03147614a0bf9c3470",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"6EuRDm\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"wltDyP\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2023-04-06T06:28:34.077Z\",\"build\":{\"id\":\"6EuRDm\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2023-04-06T06:28:33.352Z\",\"updated_at\":\"2023-04-06T06:28:33.521Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 590,
      },
      {
        "_id": "3f8438d8dd82f11b38b24fb6cbb1940e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/wltDyP"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 547,
            "text": "{\"id\":\"wltDyP\",\"status\":\"waiting\",\"duration\":null,\"started_at\":null,\"finished_at\":null,\"created_at\":\"2023-04-06T15:28:34.099+09:00\",\"updated_at\":\"2023-04-06T15:28:34.374+09:00\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T18:35:38.921+09:00\",\"updated_at\":\"2023-04-06T15:28:34.077+09:00\"},\"test_case_results\":[{\"id\":\"qzI9623\",\"status\":\"waiting\",\"duration\":null,\"test_case\":{\"id\":\"K8IDP6\",\"environment_variables\":[],\"build\":{\"id\":\"6EuRDm\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 503,
      },
      {
        "_id": "3f8438d8dd82f11b38b24fb6cbb1940e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/wltDyP"
        },
        "response": {
          "co[...]
