{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-8d7f8c02-a607-40c4-b363-7a60c2770a6a\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 210,
            "text": "{\"name\":\"autify-cli-8d7f8c02-a607-40c4-b363-7a60c2770a6a\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"tai2\",\"created_at\":\"2025-03-10T07:17:45.974Z\",\"updated_at\":\"2025-03-10T07:17:45.974Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 663,
      },
      {
        "_id": "73a4b3faba67051f9c497fbd51a01ce4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/capabilities"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 16443,
            "text": "[{\"os\":\"Linux\",\"os_type\":\"linux\",\"os_version\":null,\"browser\":\"Chrome\",\"browser_type\":\"chrome\",\"browser_version\":\"132.0\",\"device\":null,\"device_type\":\"computer\",\"unsupported\":false},{\"os\":\"OS X\",\"os_type\":\"macos\",\"os_version\":\"Sequoia\",\"browser\":\"Safari\",\"browser_type\":\"safari\",\"browser_version\":\"18.1\",\"device\":null,\"device_type\":\"computer\",\"unsupported\":false},{\"os\":\"OS X\",\"os_type\":\"macos\",\"os_version\":\"Sequoia\",\"browser\":\"Firefox\",\"browser_type\":\"firefox\",\"browser_version\":\"135.0\",\"device\":null,\"device_type\":\"computer\",\"unsupported\":false},{\"os\":\"OS X\",\"os_type\":\"macos\",\"os_version\":\"Sequoi[...]
