{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ca1c840c1d5ab757390ab157656f4d13",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"autify-cli-971db243-9f2f-4fea-809f-c3a2e13953b6\"}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/autify_connect/access_points"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 212,
            "text": "{\"name\":\"autify-cli-971db243-9f2f-4fea-809f-c3a2e13953b6\",\"key\":\"000000000000000000000000000000\",\"last_use\":null,\"creator\":\"mtsmfm\",\"created_at\":\"2023-04-06T06:28:31.183Z\",\"updated_at\":\"2023-04-06T06:28:31.183Z\"}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 451,
      },
      {
        "_id": "73a4b3faba67051f9c497fbd51a01ce4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://app.autify.com/api/v1/projects/743/capabilities"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 14714,
            "text": "[{\"os\":\"Linux\",\"os_version\":\"\",\"browser\":\"Chrome\",\"browser_version\":\"111.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Chrome\",\"browser_version\":\"111.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge\",\"browser_version\":\"111.0\",\"device\":null,\"device_type\":null,\"unsupported\":false},{\"os\":\"Windows\",\"os_version\":\"10\",\"browser\":\"Edge Legacy\",\"browser_version\":\"18.0\",\"device\":null,\"device_type\":null,\"unsupported\":true},{\"os\":\"Windows\",\"os_ve[...]
