{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "fb22cd059f63867f3d07e14ec6e75c17",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"d1ulrD\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/Wptd97/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 377,
            "text": "{\"id\":\"jztZqV\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T09:35:38.921Z\",\"updated_at\":\"2023-03-31T07:43:47.546Z\",\"build\":{\"id\":\"d1ulrD\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-09-15T09:34:57.606Z\",\"updated_at\":\"2022-09-15T09:34:57.894Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 612,
      },
      {
        "_id": "66dfee1915b9020c643e1c9f278133fb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/jztZqV"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 578,
            "text": "{\"id\":\"jztZqV\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2023-04-06T15:28:32.943+09:00\",\"finished_at\":null,\"created_at\":\"2023-04-06T15:28:31.415+09:00\",\"updated_at\":\"2023-04-06T15:28:32.946+09:00\",\"test_plan\":{\"id\":\"Wptd97\",\"name\":\"Autify CLI (Android)\",\"created_at\":\"2022-09-15T18:35:38.921+09:00\",\"updated_at\":\"2023-03-31T16:43:47.546+09:00\"},\"test_case_results\":[{\"id\":\"vpI3MN1\",\"status\":\"wait_device\",\"duration\":null,\"test_case\":{\"id\":\"K8IDP6\",\"environment_variables\":[],\"build\":{\"id\":\"d1ulrD\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 511,
      },
      {
        "_id": "66dfee1915b9020c643e1c9f278133fb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/4yyFEL/results/jztZqV"
        },
        "response": {
          "co[...]
