{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------211622127373602771241911",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"WduQzV\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4838,
      },
      {
        "_id": "a098637563f28735961a1ed3f15b7ae3",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"WduQzV\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DEWt9g/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 382,
            "text": "{\"id\":\"AAtVJB\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T01:27:31.631Z\",\"updated_at\":\"2022-08-23T21:18:07.479Z\",\"build\":{\"id\":\"WduQzV\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-08-23T21:18:06.961Z\",\"updated_at\":\"2022-08-23T21:18:07.168Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 252,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
