{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7df49c91ebfbf219d57667e05fd60fe8",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------217830234266835195175194",
            "params": []
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/builds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15,
            "text": "{\"id\":\"rQuo0d\"}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4070,
      },
      {
        "_id": "5e8b6e139b77f53afb9ebbb9fa3c3a6a",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"rQuo0d\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DEWt9g/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 382,
            "text": "{\"id\":\"xjtOvA\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T01:27:31.631Z\",\"updated_at\":\"2022-08-19T18:12:44.035Z\",\"build\":{\"id\":\"rQuo0d\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-08-19T18:12:43.547Z\",\"updated_at\":\"2022-08-19T18:12:43.734Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 256,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
