{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e117304952f9e08ed8a41e0c91579ed4",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"build_id\":\"8DuzpG\"}"
          },
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/test_plans/DEWt9g/test_plan_results"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 382,
            "text": "{\"id\":\"b5tOvG\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T01:27:31.631Z\",\"updated_at\":\"2022-08-23T22:26:34.959Z\",\"build\":{\"id\":\"8DuzpG\",\"name\":\"Sunflower\",\"version\":\"0.1.6 1\",\"created_at\":\"2022-08-19T13:15:20.183Z\",\"updated_at\":\"2022-08-19T13:19:35.357Z\"},\"execute_environments\":[{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}]}}"
          },
          "headers": [],
          "status": 201,
          "statusText": "Created"
        },
        "time": 330,
      },
      {
        "_id": "6a1335eff18058c41a9d909c4326a44e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/b5tOvG"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 578,
            "text": "{\"id\":\"b5tOvG\",\"status\":\"running\",\"duration\":null,\"started_at\":\"2022-08-24T07:26:35.128+09:00\",\"finished_at\":null,\"created_at\":\"2022-08-24T07:26:34.983+09:00\",\"updated_at\":\"2022-08-24T07:26:35.083+09:00\",\"test_plan\":{\"id\":\"DEWt9g\",\"name\":\"Autify CLI test (Android)\",\"created_at\":\"2022-08-11T10:27:31.631+09:00\",\"updated_at\":\"2022-08-24T07:26:34.959+09:00\"},\"test_case_results\":[{\"id\":\"WxIbR2\",\"status\":\"running\",\"duration\":null,\"test_case\":{\"id\":\"xjIKxK\",\"environment_variables\":[],\"build\":{\"id\":\"8DuzpG\"},\"capability\":{\"os\":\"android\",\"os_version\":\"12.0\",\"device\":\"Pixel 5\"}}}]}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172,
      },
      {
        "_id": "6a1335eff18058c41a9d909c4326a44e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://mobile-app.autify.com/api/v1/projects/nYmF1n/results/b5tOvG"
        },
        "response": {
          "co[...]
