name: Integration tests

on:
  workflow_call:

permissions:
  id-token: write
  contents: read

jobs:
  tarball:
    strategy:
      matrix:
        include:
          - target: linux-x64
            os: ubuntu-latest
          - target: win32-x64
            os: windows-latest
          - target: darwin-x64
            os: macos-latest
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - run: git config --global core.longpaths true
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/install
        with:
          target: ${{ matrix.target }}
      - run: echo test | autify web auth login
      - run: echo test | autify mobile auth login
      - run: autify connect client install
        env:
          AUTIFY_CONNECT_CLIENT_MODE: "fake"
      - run: npm run test:integration

  win:
    runs-on: windows-latest

    steps:
      - run: git config --global core.longpaths true
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/install
        with:
          target: win
      - run: echo test | autify web auth login
      - run: echo test | autify mobile auth login
      - run: autify connect client install
        env:
          AUTIFY_CONNECT_CLIENT_MODE: "fake"
      - run: npm run test:integration

  macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/install
        with:
          target: macos
      - run: echo test | autify web auth login
      - run: echo test | autify mobile auth login
      - run: autify connect client install
        env:
          AUTIFY_CONNECT_CLIENT_MODE: "fake"
      - run: npm run test:integration

  standalone-shell:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          # - windows-latest
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{  github.event.pull_request.head.sha }}
      - uses: ./.github/actions/install
        with:
          target: standalone-shell
      - run: echo test | autify web auth login
      - run: echo test | autify mobile auth login
      - run: autify connect client install
        env:
          AUTIFY_CONNECT_CLIENT_MODE: "fake"
      - run: npm run test:integration

  cicd-shell:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - run: git config --global core.longpaths true
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/install
        with:
          target: cicd-shell
        env:
          AUTIFY_CLI_INTEGRATION_TEST_INSTALL: 1
      - run: echo test | autify web auth login
        shell: bash
      - run: echo test | autify mobile auth login
        shell: bash
      - run: autify connect client install
        shell: bash
        env:
          AUTIFY_CONNECT_CLIENT_MODE: "fake"
      - run: autify-cli-integration-test
        shell: bash

  brew:
    strategy:
      matrix:
        include:
          # `brew` has been removed from ubuntu-latest?
          # - os: ubuntu-latest
          - os: macos-latest
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/install
        with:
          target: brew
      - run: echo test | autify web auth login
      - run: echo test | autify mobile auth login
      - run: autify connect client install
        env:
          AUTIFY_CONNECT_CLIENT_MODE: "fake"
      - run: npm run test:integration

  npm:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/install
        with:
          target: npm
      - run: echo test | autify web auth login
      - run: echo test | autify mobile auth login
      - run: autify connect client install
        env:
          AUTIFY_CONNECT_CLIENT_MODE: "fake"
      - run: autify-cli-integration-test
