name: Pull request bump branch

on:
  push:
    branches:
      - bump/stable/*

jobs:
  pr-bump:
    runs-on: ubuntu-latest
    steps:
      - id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: actions/checkout@v3
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - run: npm run release pr-bump
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
