{
  "log": {
    "_recordingName": "polly-proxy",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f9d7d4e2c82f25cb63268cfc149f892",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://app.autify.com/api/v1/schedules/169408"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"data\":{\"id\":\"1222367\",\"type\":\"test_plan_result\",\"attributes\":{\"id\":1222367}}}"
          },
          "headers": [],
          "status": 200,
          "statusText": "OK"
        },
        "time": 584,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
